@import '~bootstrap/scss/bootstrap';

html,
body {
  background-color: #f0f2f5;
}
.App {
  text-align: center;
  // background-color: #eee;
  min-height: 100vh;

  header {
    display: flex;
    height: 4em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    .headerTitle {
      flex-grow: 0.5;
      text-align: left;
      font-size: 24px;
      font-weight: bold;
      font-family: 'Dancing Script', cursive;
    }
  }
}

.App-header {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
