.addressBox {
  display: flex;
  align-items: center;
  padding: 0.4em 0.8em;
  border-radius: 0.4em;
  cursor: pointer;
  font-weight: 500;
  background-color: rgb(244, 244, 244);
  border: 1px solid rgba(192, 194, 206, 0.5);

  .addressShort {
    margin-right: 0.4em;
  }
}

.addressBox:hover {
  border: 1px solid rgb(192, 194, 206);
}
.addressBox:hover:focus {
  border: 1px solid rgb(207, 210, 221);
}

.addressBox:focus {
  outline: none;
}
